spring:
  application:
    name: ice-test
  datasource:
    name: test
    url: jdbc:mysql://192.168.199.113:3306/ag_admin?characterEncoding=utf8&useSSL=true
    username: root
    password: 123456
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20

  # Mybatis配置
mybatis:
  type-aliases-package: com.cssrc.mapper

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
      prefer-ip-address: true
      hostname: localhost
      lease-renewal-interval-in-seconds: 5
      lease-expiration-duration-in-seconds: 15
server:
  port: 7772